#menu {
    margin-left:230px;
    margin-top:20px;
    background-color:white;
    height:70vh;
    padding-top:30px;
}

#base-container {
    background-color:white; 
    margin-top:-43px; 
    height:70vh; 
    width:92%;
}

#defaultPhoto {
    font-size:150px; 
    margin-top:20px; 
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: gray;
    border: 5px solid gray;
}

#info-account {
    /* style={{fontSize:'25px', color:'#189ad3'}}  */
    font-size : 25px;
    color : #189ad3
}

#link {
    text-decoration: none;
}

.password {
    margin-top: 15px;
}

#profilePhoto img {
    height: 180px;
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
}

#profilePhoto :hover  {
    cursor: pointer;
}